{% extends 'attendance/base.html' %}
{% load form_tags %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-7">
    <div class="card shadow-sm">
      <div class="card-body">
        <h4 class="card-title">Create account</h4>
        <form method="post">
          {% csrf_token %}
          {{ form.non_field_errors }}
          <div class="mb-3">
            {{ form.username.label_tag }}
            {{ form.username|add_class:"form-control" }}
          </div>
          <div class="mb-3">
            {{ form.password1.label_tag }}
            {{ form.password1|add_class:"form-control" }}
          </div>
          <div class="mb-3">
            {{ form.password2.label_tag }}
            {{ form.password2|add_class:"form-control" }}
          </div>

          <div class="mb-3">
            <label for="role" class="form-label">Role</label>
            <select name="role" id="role" class="form-select">
              <option value="student">Student</option>
              <option value="teacher">Teacher</option>
              <option value="admin">Admin</option>
            </select>
          </div>

          <button class="btn btn-success">Register</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
